# Ignore Python virtual environments
env/
.env/
meal_to_ingredients_env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore any VSCode or PyCharm project settings
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore DVC cache directory (optional)
.dvc/cache/

# Ignore any other large files that should be tracked by DVC instead of Git
dataset/